<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Bootstrap Case</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="/css/style.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body {
  padding : 10px ; 
}

#exTab1 .tab-content {
  background-color:  #ffb3b3;
  padding : 5px 15px;
  
}

#exTab1 .nav-pills > li > a {
  color:black;
  border-radius: 0;
 background-color: #ff8080;
}
	</style>
</head>
<body>

	<div th:replace="common/header::navbar"></div>
	
	


	<div id="exTab1" class="container">	
<ul  class="nav nav-pills asd">
			<li class="active" th:classappend="${classActiveLogin}? 'active'">
        <a  href="#1a" data-toggle="tab"> <span class="glyphicon glyphicon-user" ></span>Login</a>
			</li>
			<li th:classappend="${classActiveNewAccount}? 'active'"><a href="#2a" data-toggle="tab"><span class="glyphicon glyphicon-lock" ></span>New </a>
			</li>
			<li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#3a" data-toggle="tab"><span class="glyphicon glyphicon-wrench" ></span>Forget</a>
			</li>
  
		</ul>

			<div class="tab-content clearfix ">
			  <div class="tab-pane active fs" id="1a" th:classappend="${classActiveLogin}? 'in active'">
          <form>
    <div class="form-group">
      <label for="name">Kullanıcı:</label>
      <input type="text" class="form-control" id="kullanıcı" placeholder="Kullanıcı Adı" />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" />
    </div>
    <div class="checkbox">
      <label><input type="checkbox" /> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
				</div>
				<div class="tab-pane" id="2a" th:classappend="${classActiveNewAccount}? 'in active'">
          <form>
            <div class="form-group">
      <label for="name">Ad Soyad:</label>
      <input type="text" class="form-control" id="name" placeholder="isim girin" />
    </div>
           <div class="form-group">
      <label for="name">Kullanıcı:</label>
      <input type="text" class="form-control" id="kullanıcı" placeholder="Kullanıcı Adı" />
    </div>
            <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="adres">Adres:</label>
      <input type="text" class="form-control" id="adres" placeholder="adres" />
    </div>
            <div class="form-group">
      <label for="phone">Telefon:</label>
      <input type="number" class="form-control" id="tel" placeholder="telefon" />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
				</div>
        <div class="tab-pane" id="3a" th:classappend="${classActiveForgetPassword}? 'in active'">
          <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" />
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
				</div>
          
			</div>
  </div>






</body>
</html>